---
pagination:
  data: legalLocales
  size: 1
  alias: loc
permalink: "{{ loc.buildPath }}privacy/index.html"
layout: layouts/base.njk
pageSlug: privacy
legalKey: privacyPage
isHome: false
schemaEnabled: false
---
{% include "components/legal-page.njk" %}
